<!DOCTYPE html>
<html>
  <head>
    <title>Final</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>

  <body>
    <!-- Navbar (sit on top) -->
      <div class="w3-top">
        <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
          <a href="https://58d7e0c626c7417e9702561c59d3d627.vfs.cloud9.us-east-1.amazonaws.com/#home" class="w3-bar-item w3-button">Gourmet au Catering</a>
          <!-- Right-sided navbar links. Hide them on small screens -->
          <div class="w3-right w3-hide-small">
            <a href="https://58d7e0c626c7417e9702561c59d3d627.vfs.cloud9.us-east-1.amazonaws.com/#about" class="w3-bar-item w3-button">About</a>
            <a href="https://58d7e0c626c7417e9702561c59d3d627.vfs.cloud9.us-east-1.amazonaws.com/#menu" class="w3-bar-item w3-button">Menu</a>
            <a href="https://58d7e0c626c7417e9702561c59d3d627.vfs.cloud9.us-east-1.amazonaws.com/contacts/new" class="w3-bar-item w3-button">New Contact</a>
          </div>
        </div>
      </div>
    <%= yield %>
  </body>
</html>
